<h1>Invoice Hours Generator</h1>


<h2>Upload Timesheet</h2>
<div class="upload-area" (click)="fileInput.click()" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)"
  [class.drag-over]="dragOver">
  <p>Click or drag a CSV file here to upload.</p>
  <input type="file" #fileInput (change)="uploadFile($event)" style="display: none;" accept=".csv" />
</div>

<div>
  <label>Rate Inc GST</label><br>
  <input type="number" [(ngModel)]="rate" (change)="reCalc()">
  <br>
  <label>Rate Exc GST</label><br>
  <span>${{ rateExcludingGST }}</span>
  <br>
  <label>Tax Rate</label><br>
  <span>{{ percentTaxWithheld * 100 }}%</span>
</div>

<p>Compare total from trello board (Xh Ym format)</p>
<input #trelloTime type="text" placeholder="2h 40m">
<button (click)="convertTrelloTime(trelloTime.value)">Convert Trello Time</button>
<p>Decimal Form: {{ trelloTotalDecimalHours }}</p>

<h2>Summary</h2>
<table class="summary">
  <thead>
    <tr>
      <th>No.</th>
      <th>Card Name</th>
      <th>Decimal Hours</th>
      <th>Cost Hours Inc. GST</th>
      <th>Cost Hours Exc. GST</th>
      <th>After Tax</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobData | keyvalue; let i = index" [ngClass]="{'clicked-row': clickedJobs[job.key]}">
      <td>{{ i + 1 }}</td>
      <td>
        <button (click)="copyToClipboard(job.key, true)" class="icon-button">
          <i class="fas fa-copy"></i>
        </button>
        {{ job.key }}
      </td>
      <td>
        <button (click)="copyToClipboard(job.value.toString())" class="icon-button">
          <i class="fas fa-copy"></i>
        </button>
        {{ job.value }}
      </td>
      <td>{{ (job.value * rate).toFixed(2) }}</td>
      <td>{{ (job.value * rateExcludingGST).toFixed(2) }}</td>
      <td>{{ getAmountAfterTax(job.value * rateExcludingGST).toFixed(2) }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Total</td>
      <td>{{ totalDecimalHours }}</td>
      <td>{{ totalHoursCost.toFixed(2) }}</td>
      <td>{{ totalHoursCostExcludingGST.toFixed(2) }}</td>
      <td>{{ getAmountAfterTax(totalHoursCostExcludingGST).toFixed(2) }}</td>
    </tr>
  </tbody>
</table>




<h2>Breakdown</h2>
<table class="fullbreakdown">
  <thead>
    <tr>
      <th *ngFor="let header of csvHeaders">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of csvData">
      <!-- <td>{{row}}</td> -->
      <td *ngFor="let cell of row">{{cell}}</td>
    </tr>
  </tbody>
</table>