<h1>Invoice Hours Generator</h1>


<h2>Upload Timesheet</h2>
<div class="upload-area" (click)="fileInput.click()" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)"
  [class.drag-over]="dragOver">
  <p>Click or drag a CSV file here to upload.</p>
  <input type="file" #fileInput (change)="uploadFile($event)" style="display: none;" accept=".csv" />
</div>

<p>Compare total from trello board (Xh Ym format)</p>
<input #trelloTime type="text" placeholder="2h 40m">
<button (click)="convertTrelloTime(trelloTime.value)">Convert Trello Time</button>
<p>Decimal Form: {{ trelloTotalDecimalHours }}</p>

<h2>Summary</h2>
<table class="summary">
  <thead>
    <tr>
      <th>No.</th>
      <th>Card Name</th>
      <th>Decimal Hours</th>
      <th>Cost Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobData | keyvalue; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ job.key }}</td>
      <td>{{ job.value }}</td>
      <td>{{ job.value * 55 }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Total</td>
      <td>{{ totalDecimalHours }}</td>
      <td>{{ totalHoursCost }}</td>
    </tr>
  </tbody>
</table>




<h2>Breakdown</h2>
<table class="fullbreakdown">
  <thead>
    <tr>
      <th *ngFor="let header of csvHeaders">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of csvData">
      <!-- <td>{{row}}</td> -->
      <td *ngFor="let cell of row">{{cell}}</td>
    </tr>
  </tbody>
</table>